.container {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, transparent, #1a1c24), url(/images-icons/typewriter2.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.95;
  width: 100%;
  height: 100vh;
  color: #e8e8e9;
}

.container2 {
  padding-top: 10rem;
  height: 60%;
}

.h1 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 300px) {
  .container2 {
    margin-left: 2rem;
  }
  .h1 {
    font-size: 2rem;
  }
  .hi {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 600px) {
  .container2 {
    margin-left: 8rem;
  }
  .h1 {
    font-size: 3.5rem;
  }
  .hi {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 900px) {
  .container2 {
    margin-left: 10rem;
    height: 100vh;
  }
  .h1 {
    font-size: 4rem;
  }
  .hi {
    font-size: 1.5rem;
  }
}
