.typewriter {
  display: flex;
  justify-content: left;
  margin: 25px 0;
  color: #b64332;
}

.typewriter__type {
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Merriweather', serif;
  font-size: 28px;
}

.typewriter__cursor {
  width: 1px;
  background-color: #bd5432;
}
