.typewriter {
  display: flex;
  justify-content: left;
  margin: 3rem 0;
  color: #c1403d;
}

.typewriter__type {
  font-family: 'Special elite', cursive;
  font-size: 3rem;
}

.typewriter__cursor {
  width: 1px;
  background-color: #c1403d;
  /* background-color: #bd5432; */
}
