.project {
  width: 100%;
  background-color: #18181a;
  color: white;
}
.project > h1 {
  margin-left: 18rem;
}
body {
  background-color: #18181a;
}
/*
.nameDescContainer {
  box-sizing: content-box;
  position: absolute;
  width: 100%;
  background-color: yellow;
  width: 40%;
  padding: 1rem;
  z-index: 10;
  margin-top: 9rem;
  margin-left: 33rem;
  margin-right: 4rem;
  text-align: right;
}

.projectPhoto {
  width: 50%;
  margin-top: 6rem;
  position: relative;
  margin-left: 4rem;
}

.maincontainer {
  
  margin-left: 6rem;
  border: 0;
  padding-left: 0;
  background-color: aquamarine;
} */

/* ______NEW FROM HTML */
.maincontainer {
  width: 93%;
  margin-left: 6rem;
  border: 0;
  padding-left: 0;
  border: 3px solid gray;
}

/* _________project container  */
/* .maincontainer:nth-child(even) > .projectcontainer {
  box-sizing: border-box;
  width: 100%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
} */

.projectcontainer {
  border: 3px solid gray;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* .maincontainer:nth-child(even) > .projectcontainer > .image {
  width: 50%;
  margin-right: 5rem;
  float: right;
} */

.projectPhoto {
  width: 50%;
  margin-top: 6rem;
  position: relative;
  margin-left: 4rem;
}
.projectPhoto:nth-of-type(1),
.projectPhoto:nth-of-type(3),
.projectPhoto:nth-of-type(3) {
  /* margin-left: 50%; */
  margin-right: 5rem;
  float: right;
}

.name-desc-container {
  /* align-items: flex-end; */
  box-sizing: content-box;
  position: absolute;
  background-color: grey;
  width: 40%;
  padding: 1rem;
  z-index: 10;
  margin-top: 9rem;
  margin-left: 33rem;
  margin-right: 4rem;
  text-align: right;
}

.name-desc-container:nth-of-type(1),
.name-desc-container:nth-of-type(3),
.name-desc-container:nth-of-type(5) {
  margin-left: 4rem;
  text-align: left;
}

.technology {
  background-color: red;
  display: inline;
}
.linkIcon {
  margin-top: 2rem;
}
