.navigation {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: none;
}
.logo {
  padding-top: 2rem;
  padding-left: 3rem;
  display: flex;
}

.menuItem {
  display: none;
  height: 3rem;
}

.li {
  margin: 0.6rem;
  padding: 0;
  justify-content: space-between;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 800px) {
  .navigation {
    background-color: #1a1c24;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    opacity: 0.8;
    height: auto;
    min-height: 40px;
    display: block;
    position: fixed;
    z-index: 5;
  }
  .menuItem {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    color: red;
  }
  .logo {
    padding-top: 1rem;
    display: flex;
  }
}
