#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* NEW  */

.navigation {
  width: 100%;
  border-bottom: 10px solid #222;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 0;
  height: 140px;
  margin-bottom: 60px;
  background: #f8f8f8;
}
.logo a {
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  clear: both;
  padding-bottom: 30px;
  text-decoration: none;
}
.menu {
  display: none;
  color: #222;
  font-size: 2rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  margin: 0 15px;
  justify-content: space-between;
  font-size: 1em;
}
a {
  font-size: 1em;
  text-decoration: none;
}

a.active {
  color: tomato;
}
@media only screen and (max-width: 800px) {
  /* padding: 0px; */
  .logo {
    padding-left: 15px;
    padding-top: 0px !important;
  }
}
@media only screen and (max-width: 600px) {
  .navigation {
    height: auto;
    min-height: 50px;
    display: block;
    position: relative;
  }
  .logo {
    width: 100%;
    display: block;
    padding-top: 20px;
    margin: 0px;
    margin-left: -5px;
  }
  .menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  ul.collapsed {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    overflow: hidden;
    max-height: 0;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  ul.is-expanded {
    overflow: hidden;
    max-height: 500px; /* approximate max height */
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  li {
    padding: 15px 10px;
    margin: 0px 0px;
    width: 100%;
  }
}
