.navigation {
  /* background-color: #1a1c24;
  opacity: 40%; */
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.logo {
  padding-top: 2rem;
  padding-left: 3rem;
  display: flex;
}

.menuItem {
  display: none;
  height: 3rem;
}

.li {
  margin: 0 1rem;
  padding: 0;
  justify-content: space-between;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 800px) {
  /* padding: 0px; */
  /* .logo {
    padding-left: 15px;
    padding-top: 0px !important;
  } */
}
@media only screen and (max-width: 600px) {
  .navigation {
    height: auto;
    min-height: 40px;
    display: block;
    position: relative;
    z-index: 5;
  }
  .menuItem {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .logo {
    padding-top: 1rem;
    display: flex;
  }
}
