.container1 {
  width: 12rem;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
}

img.icon1,
img.icon2,
img.icon3,
img.icon4 {
  left: 2.8rem;
  position: fixed;
  height: 1.7rem;
  bottom: 11rem;
  z-index: 2;
}
img.icon2 {
  bottom: 8.5rem;
}
img.icon3 {
  bottom: 6rem;
}
img.icon4 {
  bottom: 3.5rem;
}
#verticalline {
  bottom: 0;
  border-left: 2px solid #c1c0c0;
  height: 3rem;
  position: fixed;
  left: 3.4rem;
  z-index: 2;
}
