@media only screen and (min-width: 300px) {
  .footerContainer {
    align-content: center;
    color: #c1403d;
    padding-left: 2rem;
    font-family: 'special elite';
    font-size: 1rem;
    height: 5rem;
    text-align: center;
  }
  .icon {
    height: 2rem;
    margin: 0.5rem;
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  .footerContainer {
    width: 90%;
  }
  .icon {
    display: none;
  }
}
