.container {
  height: 100vh;
  /* margin-top: 2rem; */
  margin-left: 11rem;
  padding-top: 12rem;
}
.flexContainer {
  font-family: 'Montserrat', sans-serif;
  padding-right: 5rem;
  display: flex;
}
.flexBox {
  /* border: 3px solid blue; */
  width: 40rem;
}
.picture {
  /* border: 3px solid #c1403d; */
  height: 12rem;
  margin-left: 8rem;
  cursor: pointer;
  border-radius: 3%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  filter: grayscale(50%);
  /* box-shadow: 0 5px 5px #b2b2b2; */
}

.picture:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1.1);
}
.underline {
  background-image: linear-gradient(0deg, #c1403d 10%, transparent 30%);
}
.hrText {
  font-size: 5rem;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 0;
  border: 0;
  height: 7rem;
}

.hrText:before {
  content: '';
  background: linear-gradient(to right, #b2b2b2, transparent);
  position: absolute;
  left: 14rem;
  top: 50%;
  width: 30%;
  height: 2px;
}
.hrText:after {
  font-family: 'special elite';
  font-size: 3rem;
  content: attr(data-content);
  position: relative;
  display: inline-block;
  line-height: 3rem;
  color: #c1403d;
}
